<strong>Helo, {{deliveryman}}</strong>
<p>There was a delivery cancellation. Check details below:</p>
<p>
  <strong>Product: </strong> {{ product }} <br />
  <strong>Recipient: </strong> {{ recipient }} <br />
  <strong>Address: </strong> {{address}} <br />
  <br />
  <small>
    We’re sorry for the cancellation.
  </small>

  <br />
</p>
