<strong>Hello, {{ deliveryman }}</strong>
<p>You have a new delivery. Check details below:</p>
<p>
  <strong>Product: </strong> {{ product }} <br />
  <strong>Recipient: </strong> {{ recipient }} <br />
  <strong>Address: </strong> {{address}} <br />
  <br />
  <small>
    The product is already available to delivery.
  </small>
</p>
